/**
 * @name         smallDMchannelList
 * @description  makes the dm and channellist smaller to provide more space for the chat
 * @author       lolpowerluke
 * @version      1.0.0
 * @source       https://github.com/lolpowerluke/smallDMchannelList/blob/main/smallDMchannelList.css
 * @website      https://lolpowerluke.github.io/
 * @invite       GwjrQVDNJ2
*/

:root {
	--channel-name-no-hover-margin: 15px; /*15px for hidding the name, 0px for showing the name*/
	--channel-name-no-hover-opacity: 0; /*0 for hiding the name, 1 for showing the name*/
	--sidebar-no-hover-width: 60px; /*60px for just the channelIcon, 80px for the 1st 2/3 letters of the channel names*/
  --sidebar-no-hover-call-buttons-width: 0px; /*0px for hiding the buttons, 100% for showing them*/
}
/*small dm/channel list*/
@media (max-width: 800px) {
  .sidebarResizeHandle__5e434 {
    display: none;
  }
  #app-mount .sidebarList__5e434 {
    width: 0;
    border: 0;
  }
  :where(#app-mount div .guilds__5e434 + .sidebarList__5e434) {
    overflow: visible;

    * {
      display: block;
    }
    .container__2637a,
    .privateChannels_e6b769 {
      display: flex;
      width: 0;
      z-index: 101;
      position: fixed;
      top: 32px;
      height: calc(100% - 32px);
      transition: width var(--animation-duration-3, 0.5s);
      backdrop-filter: blur(2px);
      border-right: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));

      &:hover {
        width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width));
      }
      :where(.scrollerBase__99f8c) {
        margin: 0;
      }
      :where(.emoji_c9d15c, .activityContainer_c9d15c strong) {
        display: unset;
      }
      :where(.chipletContainer__394db) {
        display: inline;
      }
      :where(.overflow_b0dfc2 strong, .usernameContainer__394db) {
        display: inline-block;
      }
      :where(.closeButton__972a0, .dot_c9d15c:first-child, .dot_c9d15c:last-child) {
        display: none !important;
      }
      :where(.channel__972a0:hover .closeButton__972a0) {
        display: block !important;
      }
      :where(.botTag__82f07, .vc-platform-indicator, .text__10651, .chipletContainerInner__10651, .indicatorContainer) {
        display: inline-flex;
      }
      :where(.iconsContainer__972a0, .header_f37cb1, .activityContainer_c9d15c, .vc-member-list-decorators-wrapper, .list__07f91, .iconGroup__07f91, .optionsButton__07f91, .content__07f91, .icons__07f91, .statusDiv__5cda9, .linkBottom__2ea32, .iconWrapper__9293f, .privateChannelsHeaderContainer__99e7c, .button__201d5, .children__29444, .mainContent__29444, .wrapperCommon__29444, .content__65844, .children__2ea32, .linkTop__2ea32, .link__2ea32, .bar__7aaec, .container__7aaec, .childContainer__3e3b0, .flowerStarContainer__3e3b0, .guildIconV2Container__85d16, .headerContent_f37cb1, .searchBar_e6b769, .premiumTrialBadge__4c1e4, .nameAndDecorators__20a53, .container_c9d15c, .link__972a0, .layout__20a53, .interactive__972a0) {
        display: flex;
      }
      :where(.headerText__99e7c) {
        display: grid;
      }
    }
  }
  :where(#app-mount .guilds__5e434:hover + .sidebarList__5e434) {
    .container__2637a,
    .privateChannels_e6b769 {
      width: 60px;
    }
  }
  #app-mount .guilds__5e434 {
    height: calc(100vh - var(--custom-app-panels-height, 0) - 36px);
    margin-bottom: calc(var(--custom-app-panels-height, 0));
  }
  #app-mount div .panels__5e434 {
    position: fixed;
    bottom: 0;
    left: 0;
    background: transparent;
    border: 0;
    width: fit-content;
    border-radius: 0;
    z-index: 101;

    .container__37e49 {
      background: var(--bg-overlay-floating,var(--background-base-low));
      border: 1px solid var(--border-faint);
    }
    .container__37e49 {
      border-radius: 0;
      width: var(--custom-guild-list-width);
      container-type: unset;
      margin: 0;
      
      .buttons__37e49 {
        display: none;
      }
      .avatarWrapper__37e49 {
        justify-content: center;
        min-width: unset;
      }
      .nameTag__37e49 {
        display: none;
      }
      &:hover {
        width: fit-content;
        border-top-right-radius: 30px;
        .avatarWrapper__37e49 {
          width: 40px;
          height: 40px;
          min-width: 40px;
        }
        .buttons__37e49 {
          display: flex;
        }
      }
    }

  }
}
@media (min-width: 801px) {
  #app-mount .sidebarList__5e434 {
    width: var(--sidebar-no-hover-width, 60px);
    transition: width var(--animation-duration-3, 0.5s);
    container-type: unset;

    &:has( + .sidebarResizeHandle__5e434:hover),
    &:has( + .sidebarResizeHandle__5e434:active),
    &:has( + .sidebarResizeHandle__5e434 + .panels__5e434:hover),
    &:hover {
      width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width));

      & ~ .panels__5e434 {
        .container__37e49 .avatarWrapper__37e49,
        .gameIconWrapper__8c6c2 {
          margin-left: 0px;
        }
      }
    }
  }
  .panels__5e434 {
    .wrapper_e131a9:not(:hover) {
      .container_e131a9 {
        padding: 0;
        gap: 0;
  
        .voiceButtonsContainer_e131a9 {
          margin: 0;
          gap: 0;
        }
        .labelWrapper__06d62 {
          width: 100%;
          text-overflow: ellipsis;
  
          button,
          button * {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .connection_e131a9 .button__67645,
        .actionButtons_e131a9 .button_e131a9 {
          width: var(--sidebar-no-hover-call-buttons-width);
          padding: 0px;
          border: 0;
          height: var(--sidebar-no-hover-call-buttons-height);
          min-width: 0;
          min-height: 0;
          transition: all var(--animation-duration-3, 0.5s);

          svg {
            width: 0 !important;
            height: 0 !important;
          }
        }
      }
    }
  } 
  .panels__5e434 .container__37e49 {
    .avatarWrapper__37e49 {
      margin-left: 10px;
      transition: margin-left var(--animation-duration-3, 0.5s);
      margin-right: 0;
    }
    .nameTag__37e49 {
      opacity: var(--channel-name-no-hover-opacity);
      transition: opacity var(--animation-duration-3, 0.5s);
    }
  }
  .panels__5e434:hover .container__37e49 .nameTag__37e49,
  .sidebarResizeHandle__5e434:active + .panels__5e434 .container__37e49 .nameTag__37e49,
  .sidebarResizeHandle__5e434:hover + .panels__5e434 .container__37e49 .nameTag__37e49,
  .sidebarList__5e434:hover ~ .panels__5e434 .container__37e49 .nameTag__37e49 {
    opacity: 1;
  }
  .sidebarList__5e434:hover ~ .panels__5e434 .container__37e49 .avatarWrapper__37e49 {
    margin-left: 0;
  }
  [class^="panels"] [class^="buttons"] {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    will-change: opacity, transform;
    pointer-events: none;
  }
  .sidebarList__5e434:hover ~ .panels__5e434 [class^="buttons"],
  [class^="panels"]:hover [class^="buttons"] {
    opacity: 1;
    pointer-events: auto;
  }
}
.sidebarList__5e434 {
  backdrop-filter: unset;
  border-radius: 0;

  .searchBar_e6b769 {
    width: 100%;

    button {
      min-width: unset;
      padding: 2px 10px;
    }
  }
}
.channel__972a0 .content__20a53,
.containerDefault_c69b6d .name__2ea32 {
  transform: translateX(var(--channel-name-no-hover-margin, 15px));
  opacity: var(--channel-name-no-hover-opacity, 0);
  transition: transform var(--animation-duration-2, 0.25s), opacity var(--animation-duration-3, 0.5s);
}
:where(.sidebarList__5e434:has(~ .sidebarResizeHandle__5e434:active), .sidebarList__5e434:has(~ .sidebarResizeHandle__5e434:hover), .sidebarList__5e434:has(~ .panels__5e434:hover), .sidebarList__5e434:hover) .channel__972a0 .content__20a53,
:where(.sidebarList__5e434:has(~ .sidebarResizeHandle__5e434:active), .sidebarList__5e434:has(~ .sidebarResizeHandle__5e434:hover), .sidebarList__5e434:has(~ .panels__5e434:hover), .sidebarList__5e434:hover) .content-2a4AW9 > .wrapper__2ea32 .name__2ea32, 
:where(.sidebarList__5e434:has(~ .sidebarResizeHandle__5e434:active), .sidebarList__5e434:has(~ .sidebarResizeHandle__5e434:hover), .sidebarList__5e434:has(~ .panels__5e434:hover), .sidebarList__5e434:hover) .containerDefault_c69b6d .name__2ea32 {
  transform: translateX(0);
  opacity: 1;
}
.sidebarList__5e434:hover .container__5b40b .containerDefault_c69b6d .name__2ea32 {
  margin-left: 27px;
}
.container__5b40b .containerDefault_c69b6d .name__2ea32 {
  margin-left: 42px;
}
.scroller__629e4 {
  padding-right: 0 !important;
}
