/**
 * @name         smallDMchannelList
 * @description  makes the dm and channellist smaller to provide more space for the chat
 * @author       lolpowerluke
 * @version      1.0.0
 * @source       https://github.com/lolpowerluke/smallDMchannelList/blob/main/smallDMchannelList.css
 * @website      https://lolpowerluke.github.io/
 * @invite       GwjrQVDNJ2
*/

:root {
  --channel-name-no-hover-margin: 15px; /*15px for hidding the name, 0px for showing the name*/
  --channel-name-no-hover-opacity: 0; /*0 for hiding the name, 1 for showing the name*/
  --siderbar-no-hover-width: 60px; /*60px for just the channelIcon, 80px for the 1st 2/3 letters of the channel names*/
}

/*small dm/channel list*/
@media (max-width: 700px) {
  #app-mount .sidebar-1tnWFu {
    width: 0;
    z-index: 2;
    margin-top: 64px;
    height: calc(100% - 64px);
    position: fixed;
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    border-radius: 0;
    overflow: hidden;
    z-index: 2;
    -webkit-transition: width var(--float-guildbar-hover-speed) ease;
    transition: width var(--float-guildbar-hover-speed) ease;
  }
}
.sidebar-1tnWFu {
  width: var(--siderbar-no-hover-width, 60px);
  transition: width 0.5s;
}
#app-mount .wrapper-1_HaEi:hover+.base-2jDfDU>.content-1SgpWY>.sidebar-1tnWFu {
  width: var(--siderbar-no-hover-width);
}
#app-mount .sidebar-1tnWFu:hover {
  width: 240px;
}
.sidebar-1tnWFu:not(:hover) .pinnedChannelsHeaderContainer-89Gjv4 .headerAmount-_-7GrS {
  margin-left: -15px;
}
.sidebar-1tnWFu:not(:hover) .container-6sXIoE.withTimeline-824fT_ .coverWrapper-YAplwJ {
  margin-left: 6px;
}
.container-6sXIoE.withTimeline-824fT_,
.container-6sXIoE .bar-g2ZMIm {
  width: 60px !important;
  transition: width 0.5s;
}
.sidebar-1tnWFu:hover .container-6sXIoE.withTimeline-824fT_,
.sidebar-1tnWFu:hover .container-6sXIoE .bar-g2ZMIm {
  width: 240px !important;
}
.sidebar-1tnWFu:not(:hover) .barText-lmqc5O :first-child {
  margin-left: -5px;
}
.sidebar-1tnWFu:not(:hover) .barText-lmqc5O :last-child {
  margin-right: -5px;
}
.sidebar-1tnWFu:not(:hover) .voiceUserSummary-huJ8Md > .container-1jha_j > .icon-3akWb2 ~ *,
.activityRow-2wnr1d ~ .separator-2jb_gA,
.fa-arrow-right:before,
.sidebar-1tnWFu:not(:hover) .ownerIcon-255uKo,
.sidebar-1tnWFu:not(:hover) .size24-9rrwDS .avatarContainer-gPrCzX,
.sidebar-1tnWFu:not(:hover) .total-1c5KCN:after,
.sidebar-1tnWFu:not(:hover) .role-2TIOKu,
.sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .usernameFont-2oJxoI,
.sidebar-1tnWFu:not(:hover) .click-to-chat-btn,
.sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .icons-2mwuFp,
.sidebar-1tnWFu:not(:hover) .info-88fTUI,
.sidebar-1tnWFu:not(:hover) .actions-zk2vB_,
.sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3.selected-2TbFuo .iconItem-1EjiK0,
.sidebar-1tnWFu:not(:hover) .RestoreDirectMessages-style-divider,
.sidebar-1tnWFu:not(:hover) .RestoreDirectMessages-style-button {
  display: none;
}
.sidebar-1tnWFu:not(:hover) .RestoreDirectMessages-style-button {
  margin-left: 10px;
}
.containerDefault-YUSmu3 .list-2x9Cl9.collapsed-1oYzUu {
  width: calc(100% - 26px);
}
.sidebar-1tnWFu:not(:hover) .users-2JoyGL {
  margin-top: -5px;
  margin-right: -22px;
}
.sidebar-1tnWFu:not(:hover) .total-1c5KCN {
  margin-top: 5px;
}
.containerDefault-YUSmu3:not(:hover) .iconItem-1EjiK0 {
  display: none;
}
.sidebar-1tnWFu:not(:hover) .children-1MGS9G {
  margin-right: -12px;
}
.sidebar-1tnWFu:not(:hover) .users-2JoyGL,
.sidebar-1tnWFu:not(:hover) .total-1c5KCN {
  background-color: transparent;
  font-size: 9px;
  display: block;
}
.sidebar-1tnWFu:not(:hover) .ti-indicator {
  transform: rotate(-90deg);
  margin-right: -10px;
}
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW,
.gameIconWrapper-zXQ03M {
  margin-left: 6px;
  transition: margin-left 0.3s;
}
.sidebar-1tnWFu:hover .panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW,
.sidebar-1tnWFu:hover .gameIconWrapper-zXQ03M {
  margin-left: 0px;
  transition: margin-left 0.3s;
}
.container-1zzFcN .connection-3k9QeF .button-12Fmur,
.actionButtons-2vEOUh .button-1EGGcP {
  width: 0px;
  padding: 0px;
  height: 0px;
  min-width: 0;
  min-height: 0;
  transition: all 0.5s;
}
.container-1zzFcN .connection-3k9QeF .button-12Fmur svg {
  width: 100%;
  height: 100%;
}
.sidebar-1tnWFu:hover .actionButtons-2vEOUh .button-1EGGcP {
  width: auto;
  padding: 0px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
}
.sidebar-1tnWFu:hover .container-1zzFcN .connection-3k9QeF .button-12Fmur {
  width: 32px;
  height: 32px;
}
.actionButtons-2vEOUh .button-1EGGcP .buttonIcon-2Zsrs2 {
  width: 0px;
  height: 0px;
  transition: all 0.5s;
}
.sidebar-1tnWFu:hover .actionButtons-2vEOUh .button-1EGGcP .buttonIcon-2Zsrs2 {
  width: 20px;
  height: 20px;
  transition: all 0.5s;
}
.container-1zzFcN .connection-3k9QeF .button-12Fmur .contents-18-Yxp svg {
  width: 0px;
  height: 0px;
  transition: all 0.5s;
}
.sidebar-1tnWFu:hover .container-1zzFcN .connection-3k9QeF .button-12Fmur .contents-18-Yxp svg {
  width: 20px;
  height: 20px;
  transition: all 0.5s;
}
.sidebar-1tnWFu:not(:hover) .container-1zzFcN .connection-3k9QeF .flex-2S1XBF {
  margin: 0px;
}
.container-1zzFcN .connection-3k9QeF .subtext-2HDqJ7 {
  text-overflow: clip;
}
.voiceTimer {
  white-space: normal;
}
.sidebar-1tnWFu:not(:hover) .children-1MGS9G .voiceCounter {
  margin-right: 10px;
}
/*Channel list*/
.content-2a4AW9 > .wrapper-NhbLHG .name-28HaxV,
.containerDefault-YUSmu3 .name-28HaxV {
  margin-left: var(--channel-name-no-hover-margin, 15px);
  opacity: var(--channel-name-no-hover-opacity, 0);
  transition: margin-left 0.2s, opacity 0.5s;
}
.sidebar-1tnWFu:hover .content-2a4AW9 > .wrapper-NhbLHG .name-28HaxV,
.sidebar-1tnWFu:hover .containerDefault-YUSmu3 .name-28HaxV {
  margin-left: 0;
  opacity: 1;
}
.sidebar-1tnWFu:hover .container-1Bj0eq .containerDefault-YUSmu3 .name-28HaxV {
  margin-left: 27px;
}
.container-1Bj0eq .containerDefault-YUSmu3 .name-28HaxV {
  margin-left: 42px;
}
.channelNotice-tO6Tus {
  width: 200px;
}
.containerDefault-YUSmu3.selected-2TbFuo .userLimit-VbEkeM, 
.iconVisibility-vptxma:focus-within .userLimit-VbEkeM, 
.iconVisibility-vptxma:focus .userLimit-VbEkeM, 
.iconVisibility-vptxma:hover .userLimit-VbEkeM {
  display: block;
  margin-left: 5px;
}
.container-1zzFcN .actionButtons-2vEOUh .contents-18-Yxp {
  font-size: 0px;
  transition: font-size 0.5s;
}
.sidebar-1tnWFu:hover .container-1zzFcN .actionButtons-2vEOUh .contents-18-Yxp {
  font-size: initial;
}
.voiceUser-3nRK-K {
  margin-right: 4px;
}
.scroller-1ox3I2 {
  padding-right: 0 !important;
}
/*Activity in vc*/
.containerDefault-YUSmu3:hover .activityRow-2wnr1d .content-2Lhv86 {
  border-bottom: 0;
}
.containerDefault-YUSmu3 .list-2x9Cl9 {
  padding-bottom: 0;
}
.activityRow-2wnr1d .content-2Lhv86 {
  width: 20px;
}
.activityRow-2wnr1d .activity-Rs0ViZ {
  margin-left: 15px;
  opacity: 0;
  transition: margin-left 0.2s, opacity 0.5s;
}
.sidebar-1tnWFu:hover .activityRow-2wnr1d .activity-Rs0ViZ {
  margin-left: 0;
  opacity: 1;
}
.containerDefault-YUSmu3:hover .activityRow-2wnr1d:first-child .content-2Lhv86 {
  border-top: 0;
}
.containerDefault-YUSmu3:hover .activityRow-2wnr1d .separator-2jb_gA {
  display: none;
}
.listDefault-1QEzz4 {
  margin-top: -1px
}
.activityRow-2wnr1d {
  margin: 0;
  padding: 0;
}
.activityRow-2wnr1d .content-2Lhv86 {
  margin: 0 8px;
  border-radius: 0;
  border-bottom: 0;
}
/*mention and unread badges*/
.sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .UnreadCountBadges-badge-channelUnread {
  border-radius: 5px 0 0 0;
  padding: 0;
  bottom: 0;
}
.sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .mentionsBadge-2ckrKL {
  top: 0;
  padding: 0;
}
.sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .mentionsBadge-2ckrKL .numberBadge-37OJ3S {
  border-radius: 0 0 0 5px;
}
#app-mount .sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .numberBadge-37OJ3S {
  font-size: 10px;
  min-width: 12px;
  max-width: 20px;
  min-height: unset;
  height: 12px;
  padding: 0;
}
.sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .UnreadCountBadges-badge-channelUnread,
.sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .mentionsBadge-2ckrKL {
  position: absolute;
  right: 0;
}
.sidebar-1tnWFu:not(:hover) .containerDefault-3TQ5YN + .containerDefault-YUSmu3 .mentionsBadge-2ckrKL .numberBadge-37OJ3S {
  border-radius: 0 5px 0 5px;
}
.sidebar-1tnWFu:not(:hover) [href="/channels/@me"] .numberBadge-37OJ3S {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 10px;
  height: 12px;
  width: 12px !important;
  min-height: unset;
  min-width: unset;
}
/*Server boost progress bar*/
.sidebar-1tnWFu .progressBarContainer-2E4oR- {
  width: 45px;
  transition: width 0.5s;
}
.sidebar-1tnWFu:hover .progressBarContainer-2E4oR- {
  width: 225px;
}
/*DM-list*/
.channel-1Shao0 {
  margin-right: 4px;
  transition: margin 0.75s;
}
.sidebar-1tnWFu:hover .channel-1Shao0 {
  margin-right: 0px;
}
.privateChannels-oVe7HL .scrollerBase-_bVAAt {
  padding-right: 0 !important;
}