/**
 * @name         smallDMchannelList
 * @description  makes the dm and channellist smaller to provide more space for the chat
 * @author       lolpowerluke
 * @version      1.0.0
 * @source       https://github.com/lolpowerluke/smallDMchannelList/blob/main/smallDMchannelList.css
 * @website      https://lolpowerluke.github.io/
 * @invite       GwjrQVDNJ2
*/

:root {
	--channel-name-no-hover-margin: 15px; /*15px for hidding the name, 0px for showing the name*/
	--channel-name-no-hover-opacity: 0; /*0 for hiding the name, 1 for showing the name*/
	--sidebar-no-hover-width: 60px; /*60px for just the channelIcon, 80px for the 1st 2/3 letters of the channel names*/
  --sidebar-no-hover-call-buttons-width: 0px; /*0px for hiding the buttons, 100% for showing them*/
}
.visual-refresh {
  /*small dm/channel list*/
  @media (max-width: 800px) {
    ._5e434347c823b592-sidebarResizeHandle {
      display: none;
    }
    #app-mount ._5e434347c823b592-sidebarList {
      width: 0;
      border: 0;
    }
    :where(#app-mount div ._5e434347c823b592-guilds + ._5e434347c823b592-sidebarList) {
      overflow: visible;

      * {
        display: block;
      }
      ._2637a2609f343032-container,
      .e6b7699ce8339e1c-privateChannels {
        display: flex;
        width: 0;
        z-index: 101;
        position: fixed;
        top: 32px;
        height: calc(100% - 32px);
        transition: width var(--animation-duration-3, 0.5s);
        backdrop-filter: blur(2px);
        border-right: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));

        &:hover {
          width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width));
        }
        :where(._99f8cc7ad4790ce9-scrollerBase) {
          margin: 0;
        }
        :where(.c9d15c8a962de3c8-emoji, .c9d15c8a962de3c8-activityContainer strong) {
          display: unset;
        }
        :where(._394db220ddf598fe-chipletContainer) {
          display: inline;
        }
        :where(.b0dfc2ed9c57037d-overflow strong, ._394db220ddf598fe-usernameContainer) {
          display: inline-block;
        }
        :where(._972a0d22c8afa7f0-closeButton, .c9d15c8a962de3c8-dot:first-child, .c9d15c8a962de3c8-dot:last-child) {
          display: none !important;
        }
        :where(._972a0d22c8afa7f0-channel:hover ._972a0d22c8afa7f0-closeButton) {
          display: block !important;
        }
        :where(._82f0793afa59e5dc-botTag, .vc-platform-indicator, ._10651c5cfe637db6-text, ._10651c5cfe637db6-chipletContainerInner, .indicatorContainer) {
          display: inline-flex;
        }
        :where(._972a0d22c8afa7f0-iconsContainer, .f37cb1984c371ee5-header, .c9d15c8a962de3c8-activityContainer, .vc-member-list-decorators-wrapper, ._07f9193042954787-list, ._07f9193042954787-iconGroup, .optionsButton__07f91, ._07f9193042954787-content, ._07f9193042954787-icons, ._5cda953df16118b0-statusDiv, ._2ea32c412048f708-linkBottom, ._9293f6b2fc12398a-iconWrapper, ._99e7cad8d4c55236-privateChannelsHeaderContainer, ._201d5e8a3c09670a-button, ._29444ba32c7fbeab-children, ._29444ba32c7fbeab-mainContent, ._29444ba32c7fbeab-wrapperCommon, ._658442d9ffa4221c-content, ._2ea32c412048f708-children, ._2ea32c412048f708-linkTop, ._2ea32c412048f708-link, ._7aaec78b97ff00f7-bar, ._7aaec78b97ff00f7-container, ._3e3b0b1c0f688f9e-childContainer, ._3e3b0b1c0f688f9e-flowerStarContainer, ._85d1663d6a9fc7f6-guildIconV2Container, .f37cb1984c371ee5-headerContent, .e6b7699ce8339e1c-searchBar, ._4c1e4c295670eb1a-premiumTrialBadge, ._20a53846fe2e8513-nameAndDecorators, .c9d15c8a962de3c8-container, ._972a0d22c8afa7f0-link, ._20a53846fe2e8513-layout, ._972a0d22c8afa7f0-interactive) {
          display: flex;
        }
        :where(._99e7cad8d4c55236-headerText) {
          display: grid;
        }
      }
    }
    :where(#app-mount ._5e434347c823b592-guilds:hover + ._5e434347c823b592-sidebarList) {
      ._2637a2609f343032-container,
      .e6b7699ce8339e1c-privateChannels {
        width: 60px;
      }
    }
    #app-mount ._5e434347c823b592-guilds {
      height: calc(100vh - var(--custom-app-panels-height, 0) - 36px);
      margin-bottom: calc(var(--custom-app-panels-height, 0));
    }
    #app-mount div ._5e434347c823b592-panels {
      position: fixed;
      bottom: 0;
      left: 0;
      background: transparent;
      border: 0;
      width: fit-content;
      border-radius: 0;
      z-index: 101;

      ._37e49614b9f110a9-container {
        background: var(--bg-overlay-floating,var(--background-base-low));
        border: 1px solid var(--border-faint);
      }
      ._37e49614b9f110a9-container {
        border-radius: 0;
        width: var(--custom-guild-list-width);
        container-type: unset;
        margin: 0;
        
        ._37e49614b9f110a9-buttons {
          display: none;
        }
        ._37e49614b9f110a9-avatarWrapper {
          justify-content: center;
          min-width: unset;
        }
        ._37e49614b9f110a9-nameTag {
          display: none;
        }
        &:hover {
          width: fit-content;
          border-top-right-radius: 30px;
          ._37e49614b9f110a9-avatarWrapper {
            width: 40px;
            height: 40px;
            min-width: 40px;
          }
          ._37e49614b9f110a9-buttons {
            display: flex;
          }
        }
      }

    }
  }
  @media (min-width: 801px) {
    #app-mount ._5e434347c823b592-sidebarList {
      width: var(--sidebar-no-hover-width, 60px);
      transition: width var(--animation-duration-3, 0.5s);
      container-type: unset;

      &:has( + ._5e434347c823b592-sidebarResizeHandle:hover),
      &:has( + ._5e434347c823b592-sidebarResizeHandle:active),
      &:has( + ._5e434347c823b592-sidebarResizeHandle + ._5e434347c823b592-panels:hover),
      &:hover {
        width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width));

        & ~ ._5e434347c823b592-panels {
          ._37e49614b9f110a9-container ._37e49614b9f110a9-avatarWrapper,
          ._8c6c22ea0d0f0ea2-gameIconWrapper {
            margin-left: 0px;
          }
        }
      }
    }
    ._5e434347c823b592-panels {
      .e131a99484292a19-wrapper:not(:hover) {
        .e131a99484292a19-container {
          padding: 0;
          gap: 0;
    
          .e131a99484292a19-voiceButtonsContainer {
            margin: 0;
            gap: 0;
          }
          ._06d6249a1f2584ac-labelWrapper {
            width: 100%;
            text-overflow: ellipsis;
    
            button,
            button * {
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .e131a99484292a19-connection ._67645e1530f1195d-button,
          .e131a99484292a19-actionButtons .e131a99484292a19-button {
            width: var(--sidebar-no-hover-call-buttons-width);
            padding: 0px;
            border: 0;
            height: var(--sidebar-no-hover-call-buttons-height);
            min-width: 0;
            min-height: 0;
            transition: all var(--animation-duration-3, 0.5s);

            svg {
              width: 0 !important;
              height: 0 !important;
            }
          }
        }
      }
    } 
    ._5e434347c823b592-panels ._37e49614b9f110a9-container {
      ._37e49614b9f110a9-avatarWrapper {
        margin-left: 10px;
        transition: margin-left var(--animation-duration-3, 0.5s);
        margin-right: 0;
      }
      ._37e49614b9f110a9-nameTag {
        opacity: var(--channel-name-no-hover-opacity);
        transition: opacity var(--animation-duration-3, 0.5s);
      }
    }
    ._5e434347c823b592-sidebarResizeHandle:active + ._5e434347c823b592-panels ._37e49614b9f110a9-container ._37e49614b9f110a9-nameTag,
    ._5e434347c823b592-sidebarResizeHandle:hover + ._5e434347c823b592-panels ._37e49614b9f110a9-container ._37e49614b9f110a9-nameTag,
    ._5e434347c823b592-sidebarList:hover ~ ._5e434347c823b592-panels ._37e49614b9f110a9-container ._37e49614b9f110a9-nameTag {
      opacity: 1;
    }
    ._5e434347c823b592-sidebarList:hover ~ ._5e434347c823b592-panels ._37e49614b9f110a9-container ._37e49614b9f110a9-avatarWrapper {
      margin-left: 0;
    }
  }
  ._5e434347c823b592-sidebarList {
    backdrop-filter: unset;
    border-radius: 0;
  
    .e6b7699ce8339e1c-searchBar {
      width: 100%;
  
      button {
        min-width: unset;
        padding: 2px 10px;
      }
    }
  }
  ._972a0d22c8afa7f0-channel ._20a53846fe2e8513-content,
  .c69b6db0641110f6-containerDefault ._2ea32c412048f708-name {
    transform: translateX(var(--channel-name-no-hover-margin, 15px));
    opacity: var(--channel-name-no-hover-opacity, 0);
    transition: transform var(--animation-duration-2, 0.25s), opacity var(--animation-duration-3, 0.5s);
  }
  :where(._5e434347c823b592-sidebarList:has(~ ._5e434347c823b592-sidebarResizeHandle:active), ._5e434347c823b592-sidebarList:has(~ ._5e434347c823b592-sidebarResizeHandle:hover), ._5e434347c823b592-sidebarList:has(~ ._5e434347c823b592-panels:hover), ._5e434347c823b592-sidebarList:hover) ._972a0d22c8afa7f0-channel ._20a53846fe2e8513-content,
  :where(._5e434347c823b592-sidebarList:has(~ ._5e434347c823b592-sidebarResizeHandle:active), ._5e434347c823b592-sidebarList:has(~ ._5e434347c823b592-sidebarResizeHandle:hover), ._5e434347c823b592-sidebarList:has(~ ._5e434347c823b592-panels:hover), ._5e434347c823b592-sidebarList:hover) .content-2a4AW9 > ._2ea32c412048f708-wrapper ._2ea32c412048f708-name, 
  :where(._5e434347c823b592-sidebarList:has(~ ._5e434347c823b592-sidebarResizeHandle:active), ._5e434347c823b592-sidebarList:has(~ ._5e434347c823b592-sidebarResizeHandle:hover), ._5e434347c823b592-sidebarList:has(~ ._5e434347c823b592-panels:hover), ._5e434347c823b592-sidebarList:hover) .c69b6db0641110f6-containerDefault ._2ea32c412048f708-name {
    transform: translateX(0);
    opacity: 1;
  }
  ._5e434347c823b592-sidebarList:hover ._5b40bdd67543ba35-container .c69b6db0641110f6-containerDefault ._2ea32c412048f708-name {
    margin-left: 27px;
  }
  ._5b40bdd67543ba35-container .c69b6db0641110f6-containerDefault ._2ea32c412048f708-name {
    margin-left: 42px;
  }
  ._629e4c86564a4ee7-scroller {
    padding-right: 0 !important;
  }
}